/* CSS Document */
@media (min-width: 1800px) {

    #drinks-container {
        margin: 300px;
        margin-top: 0px;
    }

    .drink-card {
        max-width: 400px;
        width: 400px;
    }

}